/* questionAnswersStyles.css */
.question-answer-box {
  padding: 12px 12px 0px;
  border: 1px solid #e6e6e6;
  background-color: white;
  font-size: 16px;
  margin-bottom: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.photos {
  width: 100%;
  height: auto;
  margin-top: 20px;
}

.question-box, .answer-box {
  margin-top: 10px;
}

.user-name {
  font-weight: 600;
  color: grey;
}

.comment-text {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.5;
  color: #333; /* dark gray */
  text-align: left;
}

.ellipsis-container {
  position: relative;
  cursor: pointer;
  display: inline-block;
}

.dropdown {
  position: absolute;
  right: 5;
  top: 100%;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  padding: 8px 0;
  z-index: 100;
  display: none;
}

.ellipsis-container:hover .dropdown {
  display: block;
}

.dropdown button {
  background: none;
  border: none;
  padding: 8px 16px;
  text-align: left;
  width: 100%;
  font-size: 14px;
  color: #666;
  cursor: pointer;
}

.dropdown button:hover {
  background-color: #f2f2f2;
}
