/* styles.css */
.related-topics-main-container {

  background-color: white;
  font-size: 16px;
  margin-bottom: 10px;

}

.related-topics {
  width:fit-content;
  display:flex;
  gap:10%
}

.related-topics-box a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-weight: 800;
  line-height: 1.5;
  color: #333; /* dark gray */
  text-align: left;
}

.topic-header {
  border-bottom: 2px solid gray;
}
