.main-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.get-topics-container {
  width: 20%;
  min-width: 200px;
}

.topic-question-container {
  display: flex;
  justify-content: space-between;
}

.question-answer-box {
  background-color: #fff;
  margin: 20px 0;
  padding: 20px;
  border: 1px solid #e1e1e1;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
  font-size: 16px;
}

.question-box,
.answer-box {
  margin-top: 10px;
}

.question-box {
  flex: 1;
  margin-right: 20px;
}

.answer-box {
  flex: 2;
}

.topic-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.topic-list li {
  padding: 10px;
  border-bottom: 1px solid #e1e1e1;
  transition: background-color 0.2s;
  list-style: none;
}

.topic-list li:hover {
  background-color: #f9f9f9;
}

.topic-list a {
  text-decoration: none;
  color: #2b6dad;
  font-weight: 600;
}

h2,
h3,
h4 {
  color: #161718;
}

.photos {
  max-width: 100%;
  height: auto;
  display: block;
  margin-top: 20px;
}
