.question-item, .answer-item {
  border-bottom: 1px solid #ccc;
  padding: 10px;
}

.question-link {
  color: blue;
  text-decoration: none;
  font-weight: bold;
}

.answer-user-info {
  display: flex;
  align-items: center;
}

.user-details {
  margin-left: 10px;
}

.user-name {
  font-weight: bold;
}

.search-page {
  color: none;
  background-color: none;
  width:36%;
}


.search-layout {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.search-results-wrapper {

  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}
