
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}



.login-right img {
  max-width: 100%;
  height: auto;

}

.login-container {
  background-image: url("../../images/quora-background-signup.webp");
  background-size: cover;
  display: flex;
  flex-direction: column;
}

.outer-wrap {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
  padding-right: 22%;
  padding-left: 22%;
  height:100%;
}


.login-left {
  background: white;
  padding: 20px;
  width: 50%;
  text-align: center;
  border-right: 1px solid #ccc;
}

.login-left h1 {
  font-size: 24px;
  color: #333;
}

.login-left p {
  font-size: 16px;
  color: #555;
}

.login-left form {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.login-left label {
  font-size: 16px;
  margin: 10px 0;
  color: #555;
}

.login-left input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.login-left button {
  width: 100%;
  padding: 10px;
  background-color: #0077cc;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
}


.login-right {
  width: 50%;
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: white;
  padding: 20px;
  width: 50%;
  text-align: center;
  border-right: 1px solid #ccc;
  margin-top:70px;
}

.login-right p {
  font-family: "Courier New", Courier, monospace;
}

.login-left {
  font-family: "Courier New", Courier, monospace;
  margin-bottom:70px;
}

.login-right h2 {
  font-size: 20px;
  color: rgb(232, 224, 224);
}

.login-bottom {
  display: flex;
  gap: 10%;
}

.google-face {
  display:flex;
}

.continue-google {
  background-color: #dd4b39;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 10px;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
}

.continue-facebook {
  background-color: #1877f2;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 10px;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
}

.error-list {
  list-style: none;
  padding: 0;
  color: #d93025;
}

.error-item {
  margin-bottom: 10px;
}


.form-button {
  background-color: #b92b27;
  color: white;
}
