.signup-page {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff;

}

.signup-page h1 {
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
  text-align: center;
}

.signup-page form {
  display: flex;
  flex-direction: column;
}

.signup-page label {
  margin-bottom: 10px;
  font-size: 14px;
}

.signup-page input {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 14px;
}

.signup-page button {
  background-color: #2e69ff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.signup-page button:hover {
  background-color: #2458cc;
}

.error-list {
  color: red;
  list-style-type: none;
  padding: 0;
}

.error-item {
  margin-bottom: 10px;
}
