.topics-main-container {
  background-color: #f6f7f8;
  padding: 20px;
  width:fit-content;
}

/* access to topics sidebar */
.topics-main-container a {
  color: grey
}


.topics-box {
  display: flex;
  align-items: center;
  padding: 10px;
  transition: background 0.3s, border 0.3s;
  margin-top: 20px;
  border: 1px solid transparent; /* Add border */
  cursor: pointer;
}

.topics-box:hover {
  background-color: #f5f5f5;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  border: 1px solid #242525; /* Border color on hover */
}

.topics {
  flex-grow: 1;
  display: flex;
  align-items: center;
  gap: 10px; /* Space between icon and topic name */
}

.topic-icon {
  font-size: 20px; /* Adjust size as needed */
  color: #d3d3d3; /* Initial color of the icon */
  transition: color 0.3s; /* Transition for color change */
}

.topics-box:hover .topic-icon {
  color: #3a3a3a; /* Color change on hover */
}


.topics-box + .topics-box {
  margin-top: 20px;
}


.topics-box:hover {
  color: #3a3a3a;
}


.topics-box:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

a {
  text-decoration: none;
}

.topics-main-container > :nth-child(1) button {
  padding: 10px;
  margin-top: 20px;
  background-color: #f5f5f5; /* Background color */
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); /* Permanent shadow */
  cursor: pointer;
  color: #3a3a3a;
  border:none;
}

.create-topic-content {
  position: relative;
}

.create-topic-icon {
  color: #d3d3d3;
  font-size: 20px;
}


.create-topic-option {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px; /* Space between icon and button */
  padding: 10px;
  margin-top: 20px;
  background-color: #f5f5f5; /* Background color */
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); /* Permanent shadow */
  cursor: pointer;
  border: 1px solid #e1e1e1; /* Adding border */
}
